$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: url("/images/background.png") no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  border-radius: 0 !important;
}

.navbar-default .navbar-brand {
  color: #EB5C05;
  text-transform: capitalize;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: #EB5C05 !important;
}

.navbar-default {
  background-color: #f8f8f8;
  border-bottom-color: #EB5C05 !important;
}

.jumbotron {
  background-color: #ffffff;
  border-style: solid;
  border-color: #D2D2D2;
  border-width: 1px;
  border-radius: 0 !important;
  box-shadow: 3px 3px 1px #d2d2d2;
}
