<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
      <div class="jumbotron">
        <form name="loginForm" id="login-form">
          <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   ng-model="username" ng-required="true">
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                   ng-model="password"
                   ng-required="true">
          </div>
          <button type="submit" class="btn btn-default" ng-click="doLogin()">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
